body {
	padding-top: 84px;
}
.navbar-fixed-top {
	border-width: 0 0;
}
.navbar-second-top.navbar {
	border-width: 0 0 1px;
	z-index: 999;
}
.navbar-second-top .navbar-nav {
	padding-left: 5px;
}

@media (min-width:768px) {
}
@media (min-width: 992px) {
	.navbar-second-top {
		min-height: 10px;
	}
	.navbar-second-top .nav {
		padding-top: 10px;
	}
	.navbar-second-top .navbar-nav.right {
		padding-left: 0px;
	}
	.navbar-second-top .navbar-nav.left {
		padding-right: 0px;
	}
	.navbar-second-top.navbar-fixed-top {
		top: 60px;
	}
}
@media (min-width: 1200px) {
}
pre.highlight {
	font-size: 8px;
}
@media (min-width:768px) {
	pre.highlight {
		font-size: 10px;
	}
}
@media (min-width: 992px) {
	.row-md-flex-center {
		display:flex;
		align-items:center;
	}
	pre.highlight {
		font-size: 11px;
	}
}
@media (min-width: 1200px) {
	.row-lg-flex-center {
		display:flex;
		align-items:center;
	}
	pre.highlight {
		font-size: 12px;
	}
}
